* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 20vh; 
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
}

h1 {
    margin: 0;
}

h2 {
    margin-left: 20px;
    font-weight: lighter;
    color: #E5E7EB;
}

#cabecalho a {
    color: #f9faf8;
    text-decoration: none;
    margin: 0 10px;
}

#cabecalho a:hover {
    color: #F9FAF8;
    text-decoration: underline;
}

#conteiner {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    height: auto;
    margin: 20px;
}

#conteudo {
    margin-top: 30px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#conteudo img.logo1 {
    width: 50%; 
    height: auto;
    margin: 20px 0;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#conteudo p {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    font-size: 18px;
    color: #1f2937;
    margin-bottom: 10px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 20px; 
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh; 
}

footer p {
    margin-top: 30px;
}

.logo {
    width: 120px;
    height: auto;
}

#conteiner h2 {
    color: #000000; 
    font-size: 36px;
    font-weight: 900;
    margin-top: 20px;
}

/* Garanta que o body e html não ultrapassem a tela */
html, body {
    width: 100%;
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}